@media only screen and (max-width:2561px){
    ul{
        font-size: 2rem;
    }
}


@media only screen and (max-width:1441px){
    ul{
        font-size: 2rem;
    }
}


@media only screen and (max-width:1025px){
    ul{
        font-size: 1.2rem;
    }
    .parrafo{
        font-size: 0.7rem;
    }
    .logoFace, .logoIG, .logoWts {
        height: 7vh;
    }
}

@media only screen and (max-width:769px){
    ul{
        font-size: 1rem;
    }
    .logoFace, .logoIG, .logoWts {
        height: 7vh;
    }
}


@media all and (max-width:426px){
    .logoCabecera{
        display: none;
    }
    .textoPie{
        text-align: center;
    }
    .logoFace, .logoIG, .logoWts {
        height: 10vh;
    }
}

@media all and (max-width:376px){
    .logoCabecera{
        display: none;
    }
    .textoPie{
        text-align: center;
    }
    .logoFace, .logoIG, .logoWts {
        height: 10vh;
    }
}

@media all and (max-width:321px){
    .logoCabecera{
        display: none;
    }
    .textoPie{
        text-align: center;
    }
    .logoFace, .logoIG, .logoWts {
        height: 10vh;
    }
}