@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap");
/* font-family: 'Dongle', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
/* font-family: 'Ubuntu', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
/* font-family: 'Raleway', sans-serif; */
.parrafoNosotros, .introProductos, .textoContacto {
  border: 1px solid #828282;
  border-radius: 15px;
  text-align: center;
  color: #000; }

.imagenTablas {
  max-width: 100%;
  height: auto; }

* {
  padding: 0px;
  margin: 0px;
  font-family: "Raleway", sans-serif; }

.primerTitulo {
  margin: 10px 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 4rem; }

.segundoTitulo {
  margin: 10px 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 2rem; }

.carousel-inner {
  margin: 10px 0;
  max-height: 60vh;
  overflow: hidden;
  border-radius: 20px; }

.filaClasica {
  margin: 25px 0; }
  .filaClasica .picadaIndex {
    height: 50vh; }

.filaPremium {
  margin: 25px 0; }
  .filaPremium .picadaIndex {
    height: 50vh; }

.contenedorIconos {
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
  background-color: darkgray;
  margin: 5% 0;
  padding: 0 10%; }
  .contenedorIconos .contenedorArticulo {
    margin: 50px 0; }
    .contenedorIconos .contenedorArticulo .iconoRepartidor {
      height: 15vh; }
    .contenedorIconos .contenedorArticulo .iconoCalendario {
      height: 15vh; }
    .contenedorIconos .contenedorArticulo .iconoRegalo {
      height: 15vh; }

.contenedorCabecera {
  margin: 20px 0 50px 0; }
  .contenedorCabecera .contenedorNav {
    border-radius: 20px; }
    .contenedorCabecera .contenedorNav ul {
      font-size: 2rem;
      height: auto;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-content: stretch; }
    .contenedorCabecera .contenedorNav a {
      text-decoration: none;
      color: #000; }
  .contenedorCabecera .logoCabecera {
    border-radius: 50px;
    height: 10vh; }

.contenedorParrafo {
  display: flex;
  justify-content: space-evenly; }

.parrafoNosotros {
  margin: 3% 0;
  padding: 2% 0; }
  .parrafoNosotros .primerParrafo {
    margin: 10px;
    font-size: 1.2rem; }
  .parrafoNosotros .segundoParrafo {
    margin: 10px;
    font-size: 1.2rem; }

.articuloFoto .fotoEdgar {
  height: 20vh;
  box-shadow: 0px -1px 24px 0px #7d7d7d; }

.articuloFoto .fotoBaso {
  height: 20vh;
  box-shadow: 0px -1px 24px 0px #7d7d7d; }

.articuloFoto .fotoJu {
  height: 20vh;
  box-shadow: 0px -1px 24px 0px #7d7d7d; }

.articuloFoto .fotoDeby {
  height: 20vh;
  box-shadow: 0px -1px 24px 0px #7d7d7d; }

/*PRODUCTOS*/
.imgProductos {
  overflow: hidden;
  border-radius: 20px; }

.introProductos .textoProductos {
  margin: 10px;
  font-size: 1.2rem; }

.listaProducto .itemProducto {
  list-style: none; }

.listaProducto li {
  font-size: 1.2rem; }

.imagenTablas {
  border-radius: 20px;
  align-self: center; }

.articuloTabla .articuloC2P3C {
  text-align: center;
  color: #000;
  background-color: white;
  border: 1px #000 solid;
  border-radius: 20px;
  padding: 2px; }

.articuloTabla .articuloC4P6C {
  text-align: center;
  color: #000;
  background-color: white;
  border: 1px #000 solid;
  border-radius: 20px;
  padding: 2px; }

.articuloTabla .articuloC8P10C {
  text-align: center;
  color: #000;
  background-color: white;
  border: 1px #000 solid;
  border-radius: 20px;
  padding: 2px; }

.articuloTabla .articuloC2P3P {
  text-align: center;
  color: #000;
  background-color: white;
  border: 1px #000 solid;
  border-radius: 20px;
  padding: 2px; }

.articuloTabla .articuloC4P6P {
  text-align: center;
  color: #000;
  background-color: white;
  border: 1px #000 solid;
  border-radius: 20px;
  padding: 2px; }

.articuloTabla .articuloC8P10P {
  text-align: center;
  color: #000;
  background-color: white;
  border: 1px #000 solid;
  border-radius: 20px;
  padding: 2px; }

.textoContacto .parrafoContacto {
  margin: 1% 0;
  padding: 1% 0;
  font-size: 1.2rem; }

footer {
  background-color: #000; }
  footer .logoFace {
    height: 5vh; }
  footer .logoIG {
    height: 5vh; }
  footer .logoWts {
    height: 5vh; }
  footer .textoPie {
    color: #fff;
    font-size: 1.2rem; }

.contenedorNav ul li:hover {
  border-bottom: 1px #000 solid; }

.articuloTabla:hover {
  box-shadow: 0px -1px 10px 5px #7d7d7d;
  border-radius: 20px; }

p, h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif; }
