@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap");
/* font-family: 'Dongle', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
/* font-family: 'Ubuntu', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
/* font-family: 'Raleway', sans-serif; */
/* VARIABLES */
/* MAPAS */
/* MIXINS */
/*  */
.contenedorImgTablas .imagenTablas {
  max-width: 100%;
  height: auto; }

.parrafoNosotros, .introProductos, .textoContacto {
  border: 1px solid #828282;
  border-radius: 15px;
  text-align: center;
  color: #000; }

.ContenedorImagenesNosotros .fondoNosotrosuno .contenedorTexto, .ContenedorImagenesNosotros .fondoNosotrosdos .contenedorTexto, .ContenedorImagenesNosotros .fondoNosotrostres .contenedorTexto, .ContenedorImagenesNosotros .fondoNosotroscuatro .contenedorTexto {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  position: absolute;
  text-align: center;
  padding: 0 1%;
  top: 0%;
  left: 10%;
  width: 80%;
  height: 100%;
  transform: scale(0);
  overflow: hidden;
  border: #fff 1px Solid;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px; }

.modalC2P3C, .modalC4P6C, .modalC8P10C, .modalC2P3P, .modalC4P6P, .modalC8P10P {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: -1100px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center; }
  .modalC2P3C .modalContenidoC2P3C, .modalC4P6C .modalContenidoC4P6C, .modalC8P10C .modalContenidoC8P10C, .modalC2P3P .modalContenidoC2P3P, .modalC4P6P .modalContenidoC4P6P, .modalC8P10P .modalContenidoC8P10P {
    border-radius: 20px;
    align-content: center;
    background-color: #ffff;
    width: auto;
    height: auto;
    padding: 10px 20px;
    position: relative; }
    .modalC2P3C .modalContenidoC2P3C p, .modalC4P6C .modalContenidoC4P6C p, .modalC8P10C .modalContenidoC8P10C p, .modalC2P3P .modalContenidoC2P3P p, .modalC4P6P .modalContenidoC4P6P p, .modalC8P10P .modalContenidoC8P10P p {
      text-align: center;
      margin-bottom: 0; }
    .modalC2P3C .modalContenidoC2P3C h2, .modalC4P6C .modalContenidoC4P6C h2, .modalC8P10C .modalContenidoC8P10C h2, .modalC2P3P .modalContenidoC2P3P h2, .modalC4P6P .modalContenidoC4P6P h2, .modalC8P10P .modalContenidoC8P10P h2 {
      text-align: center;
      font-size: 1rem;
      color: #ffff;
      background-color: rgba(255, 0, 0, 0.57);
      border-radius: 20px; }
    .modalC2P3C .modalContenidoC2P3C ul, .modalC4P6C .modalContenidoC4P6C ul, .modalC8P10C .modalContenidoC8P10C ul, .modalC2P3P .modalContenidoC2P3P ul, .modalC4P6P .modalContenidoC4P6P ul, .modalC8P10P .modalContenidoC8P10P ul, .modalC2P3C .modalContenidoC2P3C li, .modalC4P6C .modalContenidoC4P6C li, .modalC8P10C .modalContenidoC8P10C li, .modalC2P3P .modalContenidoC2P3P li, .modalC4P6P .modalContenidoC4P6P li, .modalC8P10P .modalContenidoC8P10P li {
      text-align: center;
      list-style: none;
      align-content: center;
      font-size: 1rem; }
    .modalC2P3C .modalContenidoC2P3C .listaModal, .modalC4P6C .modalContenidoC4P6C .listaModal, .modalC8P10C .modalContenidoC8P10C .listaModal, .modalC2P3P .modalContenidoC2P3P .listaModal, .modalC4P6P .modalContenidoC4P6P .listaModal, .modalC8P10P .modalContenidoC8P10P .listaModal {
      margin: 0;
      padding: 0; }
    .modalC2P3C .modalContenidoC2P3C .pedilaYa a, .modalC4P6C .modalContenidoC4P6C .pedilaYa a, .modalC8P10C .modalContenidoC8P10C .pedilaYa a, .modalC2P3P .modalContenidoC2P3P .pedilaYa a, .modalC4P6P .modalContenidoC4P6P .pedilaYa a, .modalC8P10P .modalContenidoC8P10P .pedilaYa a {
      text-decoration: none;
      color: black;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center; }

.articuloTabla2C .articuloC2P3C .contenidoC2P3C h2, .articuloTabla4C .articuloC4P6C .contenidoC4P6C h2, .articuloTabla8C .articuloC8P10C .contenidoC8P10C h2, .articuloTabla2P .articuloC2P3P .contenidoC2P3P h2, .articuloTabla4P .articuloC4P6P .contenidoC4P6P h2, .articuloTabla8P .articuloC8P10P .contenidoC8P10P h2, .tituloLista {
  text-align: center;
  font-size: 1rem;
  border-radius: 20px;
  color: #ffff;
  background-color: rgba(255, 0, 0, 0.57); }

#modalC2P3C:target, #modalC4P6C:target, #modalC8P10C:target, #modalC2P3P:target, #modalC4P6P:target, #modalC8P10P:target {
  opacity: 1;
  pointer-events: auto;
  top: 0;
  transition: all 1s; }

.articuloTabla2C .articuloC2P3C .contenidoC2P3C, .articuloTabla4C .articuloC4P6C .contenidoC4P6C, .articuloTabla8C .articuloC8P10C .contenidoC8P10C, .articuloTabla2P .articuloC2P3P .contenidoC2P3P, .articuloTabla4P .articuloC4P6P .contenidoC4P6P, .articuloTabla8P .articuloC8P10P .contenidoC8P10P {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  border-radius: 20px;
  transition: 1s ease; }
  .articuloTabla2C .articuloC2P3C .contenidoC2P3C p, .articuloTabla4C .articuloC4P6C .contenidoC4P6C p, .articuloTabla8C .articuloC8P10C .contenidoC8P10C p, .articuloTabla2P .articuloC2P3P .contenidoC2P3P p, .articuloTabla4P .articuloC4P6P .contenidoC4P6P p, .articuloTabla8P .articuloC8P10P .contenidoC8P10P p {
    text-align: center;
    margin-bottom: 0; }
  .articuloTabla2C .articuloC2P3C .contenidoC2P3C ul, .articuloTabla4C .articuloC4P6C .contenidoC4P6C ul, .articuloTabla8C .articuloC8P10C .contenidoC8P10C ul, .articuloTabla2P .articuloC2P3P .contenidoC2P3P ul, .articuloTabla4P .articuloC4P6P .contenidoC4P6P ul, .articuloTabla8P .articuloC8P10P .contenidoC8P10P ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    padding: 5px 0 0 15px;
    color: #ffff;
    text-align: center;
    font-size: 0.75rem; }
  .articuloTabla2C .articuloC2P3C .contenidoC2P3C .pedilaYa, .articuloTabla4C .articuloC4P6C .contenidoC4P6C .pedilaYa, .articuloTabla8C .articuloC8P10C .contenidoC8P10C .pedilaYa, .articuloTabla2P .articuloC2P3P .contenidoC2P3P .pedilaYa, .articuloTabla4P .articuloC4P6P .contenidoC4P6P .pedilaYa, .articuloTabla8P .articuloC8P10P .contenidoC8P10P .pedilaYa {
    position: absolute;
    top: 42%;
    left: 47%; }
    .articuloTabla2C .articuloC2P3C .contenidoC2P3C .pedilaYa a, .articuloTabla4C .articuloC4P6C .contenidoC4P6C .pedilaYa a, .articuloTabla8C .articuloC8P10C .contenidoC8P10C .pedilaYa a, .articuloTabla2P .articuloC2P3P .contenidoC2P3P .pedilaYa a, .articuloTabla4P .articuloC4P6P .contenidoC4P6P .pedilaYa a, .articuloTabla8P .articuloC8P10P .contenidoC8P10P .pedilaYa a {
      text-decoration: none;
      color: #fff; }
      .articuloTabla2C .articuloC2P3C .contenidoC2P3C .pedilaYa a .logoWts, .articuloTabla4C .articuloC4P6C .contenidoC4P6C .pedilaYa a .logoWts, .articuloTabla8C .articuloC8P10C .contenidoC8P10C .pedilaYa a .logoWts, .articuloTabla2P .articuloC2P3P .contenidoC2P3P .pedilaYa a .logoWts, .articuloTabla4P .articuloC4P6P .contenidoC4P6P .pedilaYa a .logoWts, .articuloTabla8P .articuloC8P10P .contenidoC8P10P .pedilaYa a .logoWts {
        width: 5vh; }

* {
  padding: 0px;
  margin: 0px;
  font-family: "Raleway", sans-serif; }

.primerTitulo {
  margin: 10px 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 3rem; }

.segundoTitulo {
  margin: 10px 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 2rem; }

.carousel-inner {
  margin: 10px 0;
  max-height: 60vh;
  overflow: hidden;
  border-radius: 20px; }
  .carousel-inner img {
    filter: saturate(1.8); }

.contenedorIconos {
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
  background-color: darkgray;
  margin: 5% 0;
  padding: 0 10%; }
  .contenedorIconos .contenedorArticulo {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row; }
    .contenedorIconos .contenedorArticulo .contenedorImagen {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row; }
    .contenedorIconos .contenedorArticulo .contenedorIconoTexto {
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      text-align: center; }
    .contenedorIconos .contenedorArticulo .iconoRepartidor {
      height: 15vh; }
    .contenedorIconos .contenedorArticulo .iconoCalendario {
      height: 15vh; }
    .contenedorIconos .contenedorArticulo .iconoRegalo {
      height: 15vh; }

.navegadorHamburguesa {
  display: none; }

header {
  align-self: flex-start;
  position: sticky;
  top: 0px;
  z-index: 99999;
  background-color: #ffff; }
  header .contenedorCabecera {
    margin-top: 20px; }
    header .contenedorCabecera .filaHeader {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row; }
      header .contenedorCabecera .filaHeader .columnaNavegador {
        align-self: center; }
        header .contenedorCabecera .filaHeader .columnaNavegador .contenedorNav {
          border-radius: 20px; }
          header .contenedorCabecera .filaHeader .columnaNavegador .contenedorNav ul {
            font-size: 1.5rem;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: row;
            height: auto;
            list-style: none; }
            header .contenedorCabecera .filaHeader .columnaNavegador .contenedorNav ul .carritoCompra {
              height: 7vh; }
          header .contenedorCabecera .filaHeader .columnaNavegador .contenedorNav a {
            text-decoration: none;
            color: #000; }
      header .contenedorCabecera .filaHeader .logoCabecera {
        border-radius: 50px;
        height: 20vh; }

.contenedorParrafo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row; }

.parrafoNosotros {
  margin: 3% 0;
  padding: 2% 0; }
  .parrafoNosotros .primerParrafo {
    margin: 10px;
    font-size: 1rem; }
  .parrafoNosotros .segundoParrafo {
    margin: 10px;
    font-size: 2rem; }

.ContenedorImagenesNosotros .fondoNosotrosuno {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative; }
  .ContenedorImagenesNosotros .fondoNosotrosuno img {
    filter: saturate(1.8);
    height: auto;
    width: 90%;
    border-radius: 20px; }

.ContenedorImagenesNosotros .fondoNosotrosdos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative; }
  .ContenedorImagenesNosotros .fondoNosotrosdos img {
    height: auto;
    width: 90%;
    border-radius: 20px; }

.ContenedorImagenesNosotros .fondoNosotrostres {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative; }
  .ContenedorImagenesNosotros .fondoNosotrostres img {
    filter: saturate(1.8);
    height: auto;
    width: 90%;
    border-radius: 20px; }

.ContenedorImagenesNosotros .fondoNosotroscuatro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative; }
  .ContenedorImagenesNosotros .fondoNosotroscuatro img {
    filter: saturate(1.8);
    height: auto;
    width: 90%;
    border-radius: 20px; }

/*PRODUCTOS*/
.imgProductos {
  overflow: hidden;
  border-radius: 20px;
  filter: saturate(1.8); }

.introProductos .textoProductos {
  margin: 10px;
  font-size: 1rem; }

.listaProducto .itemProducto {
  list-style: none; }

.listaProducto li {
  font-size: 1.2rem; }

.volver {
  text-decoration: none;
  color: #000; }

.contenedorContenido {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row; }
  .contenedorContenido .verContenido {
    display: none;
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.57);
    color: #fff;
    width: 50%;
    border-radius: 20px; }

.contenedorImgTablas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column; }
  .contenedorImgTablas .imagenTablas {
    border-radius: 20px;
    filter: saturate(1.8); }

.modalC2P3C .modalContenidoC2P3C h2 {
  margin-top: 5px; }

.modalC4P6C .modalContenidoC4P6C h2 {
  margin-top: 5px; }

.modalC8P10C .modalContenidoC8P10C h2 {
  margin-top: 5px; }

.modalC2P3P .modalContenidoC2P3P h2 {
  margin-top: 5px; }

.modalC4P6P .modalContenidoC4P6P h2 {
  margin-top: 5px; }

.modalC8P10P .modalContenidoC8P10P h2 {
  margin-top: 5px; }

.articuloTabla2C {
  position: relative; }
  .articuloTabla2C .articuloC2P3C {
    text-align: center;
    color: #000;
    background-color: white;
    border: 1px #000 solid;
    border-radius: 20px;
    padding: 2px;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    filter: saturate(1.8); }
    .articuloTabla2C .articuloC2P3C .contenidoC2P3C {
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      flex-direction: row; }

.articuloTabla4C {
  position: relative; }
  .articuloTabla4C .articuloC4P6C {
    text-align: center;
    color: #000;
    background-color: white;
    border: 1px #000 solid;
    border-radius: 20px;
    padding: 2px;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    filter: saturate(1.8); }
    .articuloTabla4C .articuloC4P6C .contenidoC4P6C {
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      flex-direction: row; }

.articuloTabla8C {
  position: relative; }
  .articuloTabla8C .articuloC8P10C {
    text-align: center;
    color: #000;
    background-color: white;
    border: 1px #000 solid;
    border-radius: 20px;
    padding: 2px;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    filter: saturate(1.8); }
    .articuloTabla8C .articuloC8P10C .contenidoC8P10C {
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      flex-direction: row; }

.articuloTabla2P {
  position: relative; }
  .articuloTabla2P .articuloC2P3P {
    text-align: center;
    color: #000;
    background-color: white;
    border: 1px #000 solid;
    border-radius: 20px;
    padding: 2px;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    filter: saturate(1.8); }
    .articuloTabla2P .articuloC2P3P .contenidoC2P3P {
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      flex-direction: row; }

.articuloTabla4P {
  position: relative; }
  .articuloTabla4P .articuloC4P6P {
    text-align: center;
    color: #000;
    background-color: white;
    border: 1px #000 solid;
    border-radius: 20px;
    padding: 2px;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    filter: saturate(1.8); }
    .articuloTabla4P .articuloC4P6P .contenidoC4P6P {
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      flex-direction: row; }

.articuloTabla8P {
  position: relative; }
  .articuloTabla8P .articuloC8P10P {
    text-align: center;
    color: #000;
    background-color: white;
    border: 1px #000 solid;
    border-radius: 20px;
    padding: 2px;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    filter: saturate(1.8); }
    .articuloTabla8P .articuloC8P10P .contenidoC8P10P {
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      flex-direction: row; }

.listaModal {
  border: 1px solid rgba(0, 0, 0, 0.57);
  border-radius: 20px;
  margin-bottom: 5px; }

.listaQuesos {
  margin-top: 10px; }

.tituloLista {
  font-size: 0.75rem; }

.grupoClasica {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row; }

.filaCarrito {
  top: 85%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center; }
  .filaCarrito img {
    cursor: pointer;
    height: 10vh; }
  .filaCarrito #cantidadPicadas {
    font-size: 2rem; }

.filaClasica {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row; }
  .filaClasica .picadaIndex {
    filter: saturate(1.8); }

.filaPremium {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row; }
  .filaPremium .picadaIndex {
    filter: saturate(1.8); }

.textoContacto .parrafoContacto {
  margin: 1% 0;
  padding: 1% 0;
  font-size: 1rem; }

.tituloCarrito {
  padding: 2% 0;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center; }

.textoCarrito {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  margin: 2% 0; }
  .textoCarrito .seccionImagenes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 10px; }
    .textoCarrito .seccionImagenes .imgCarrito {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: center; }
      .textoCarrito .seccionImagenes .imgCarrito img {
        height: 15vh; }
  .textoCarrito .seccionCantidades {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center; }
    .textoCarrito .seccionCantidades .cantidadPedido {
      padding: 5px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: center; }
    .textoCarrito .seccionCantidades .armadoPedido {
      padding: 5px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: center; }
    .textoCarrito .seccionCantidades .precioFinal {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: center; }
    .textoCarrito .seccionCantidades .borrarCarrito {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: center; }
      .textoCarrito .seccionCantidades .borrarCarrito img {
        cursor: pointer;
        height: 50px; }

#textoTotal {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row; }
  #textoTotal p {
    padding: 1%;
    background-color: #000;
    color: #fff;
    font-size: 1.5rem; }

footer {
  background-color: #000; }
  footer .seccionPie .filaTextopie {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch; }
    footer .seccionPie .filaTextopie .seccionTexto .textoLogo {
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center; }
      footer .seccionPie .filaTextopie .seccionTexto .textoLogo .textoPie {
        color: #fff;
        font-size: 1.5rem;
        text-align: center; }
    footer .seccionPie .filaTextopie .seccionTexto .filaLogo .articuloLogo {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row; }
      footer .seccionPie .filaTextopie .seccionTexto .filaLogo .articuloLogo .logoFooter {
        height: 15vh; }
    footer .seccionPie .filaTextopie .filaGps .textoPie {
      color: #fff;
      font-size: 1rem;
      text-align: center; }
    footer .seccionPie .filaTextopie .filaGps .articuloGps {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row; }
      footer .seccionPie .filaTextopie .filaGps .articuloGps .logoGps {
        height: 5vh; }
  footer .seccionIconos {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row; }
    footer .seccionIconos .filaRedes .logoFace {
      height: 5vh; }
    footer .seccionIconos .filaRedes .logoIG {
      height: 5vh; }
    footer .seccionIconos .filaRedes .logoWts {
      height: 5vh; }

.contenedorNav ul li:hover {
  border-bottom: 1px #000 solid; }

/* NOSOTROS */
.fondoNosotrosuno:hover .contenedorTexto {
  transform: scaley(0.9);
  transition: 1s ease; }

.fondoNosotrosdos:hover .contenedorTexto {
  transform: scaley(0.9);
  transition: 1s ease; }

.fondoNosotrostres:hover .contenedorTexto {
  transform: scaley(0.9);
  transition: 1s ease; }

.fondoNosotroscuatro:hover .contenedorTexto {
  transform: scaley(0.9);
  transition: 1s ease; }

/* TABLAS */
.articuloC2P3C:hover .contenidoC2P3C {
  height: 100%; }

.articuloC4P6C:hover .contenidoC4P6C {
  height: 100%; }

.articuloC8P10C:hover .contenidoC8P10C {
  height: 100%; }

.articuloC2P3P:hover .contenidoC2P3P {
  height: 100%; }

.articuloC4P6P:hover .contenidoC4P6P {
  height: 100%; }

.articuloC8P10P:hover .contenidoC8P10P {
  height: 100%; }

@media only screen and (max-width: 2561px) {
  ul {
    font-size: 2rem; } }

@media only screen and (max-width: 1441px) {
  ul {
    font-size: 2rem; } }

@media only screen and (max-width: 1025px) {
  ul {
    font-size: 1.2rem; }
  .parrafo {
    font-size: 0.7rem; }
  .logoFace, .logoIG, .logoWts {
    height: 7vh; } }

@media only screen and (max-width: 769px) {
  header .contenedorCabecera .contenedorImagen {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row; }
  header .contenedorCabecera .filaHeader {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    flex-direction: row-reverse; }
    header .contenedorCabecera .filaHeader .columnaNavegador .navegadorHamburguesa {
      display: block;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row; }
      header .contenedorCabecera .filaHeader .columnaNavegador .navegadorHamburguesa .listadoHamburguesa {
        display: none;
        background-color: rgba(0, 0, 0, 0.8);
        width: 90vw;
        height: auto;
        list-style: none;
        font-size: 1.5rem;
        transition: height 2s ease;
        z-index: 99999;
        padding-left: 0; }
        header .contenedorCabecera .filaHeader .columnaNavegador .navegadorHamburguesa .listadoHamburguesa li {
          text-align: center;
          padding-top: 15px; }
          header .contenedorCabecera .filaHeader .columnaNavegador .navegadorHamburguesa .listadoHamburguesa li a {
            text-decoration: none;
            color: #fff; }
      header .contenedorCabecera .filaHeader .columnaNavegador .navegadorHamburguesa .checkHamburguesa {
        display: none; }
        header .contenedorCabecera .filaHeader .columnaNavegador .navegadorHamburguesa .checkHamburguesa:checked ~ .listadoHamburguesa {
          display: block;
          position: absolute; }
      header .contenedorCabecera .filaHeader .columnaNavegador .navegadorHamburguesa .imgHamburguesa {
        height: 5vh; }
      header .contenedorCabecera .filaHeader .columnaNavegador .navegadorHamburguesa a .carritoCompra {
        height: 7vh; }
  header .contenedorCabecera .contenedorNav {
    display: none; }
  .textoPie {
    text-align: center; }
  .logoFace, .logoIG, .logoWts {
    height: 10vh; }
  .picadaIndex {
    padding-bottom: 20px; }
  /* NOSOTROS */
  .fondoNosotrosuno {
    margin-bottom: 10px; }
  .fondoNosotrosdos {
    margin-bottom: 10px; }
  .fondoNosotrostres {
    margin-bottom: 10px; }
  .fondoNosotroscuatro {
    margin-bottom: 10px; }
  /* TABLAS */
  .contenedorContenido .verContenido {
    display: block; }
  .articuloC2P3C:hover .contenidoC2P3C {
    height: 0%; }
  .articuloC4P6C:hover .contenidoC4P6C {
    height: 0%; }
  .articuloC8P10C:hover .contenidoC8P10C {
    height: 0%; }
  .articuloC2P3P:hover .contenidoC2P3P {
    height: 0%; }
  .articuloC4P6P:hover .contenidoC4P6P {
    height: 0%; }
  .articuloC8P10P:hover .contenidoC8P10P {
    height: 0%; }
  /* FIN TABLAS */
  .ContenedorImagenesNosotros .fondoNosotrosuno .contenedorTexto, .ContenedorImagenesNosotros .fondoNosotrosdos .contenedorTexto, .ContenedorImagenesNosotros .fondoNosotrostres .contenedorTexto, .ContenedorImagenesNosotros .fondoNosotroscuatro .contenedorTexto {
    transform: scale(0.9); }
  footer .seccionIconos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row; }
  footer .seccionPie .filaTextopie .filaGps .articuloGps .logoGps {
    height: 15vh; } }

@media all and (max-width: 426px) {
  .navegadorHamburguesa a img {
    height: 5vh; }
  header .contenedorCabecera .filaHeader .logoCabecera {
    height: 10vh; }
  .articuloProductos .imgProductos {
    height: 300px;
    object-fit: cover; }
  .textoCarrito {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    padding: 10% 0; }
    .textoCarrito .seccionImagenes {
      transform: rotate(-90deg); }
    .textoCarrito .seccionCantidades {
      margin: 10% 0;
      font-size: 0.9rem; }
      .textoCarrito .seccionCantidades .cantidadPedido {
        font-size: 1.5rem; }
      .textoCarrito .seccionCantidades .precioFinal {
        font-size: 1.2rem; }
  #textoTotal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center; }
    #textoTotal p {
      margin: 2%;
      padding: 2%;
      background-color: #000;
      color: #fff;
      font-size: 1.2rem; } }
