footer{
    background-color: #000;

    .logoFace{
        height: $iconos-redes;
    }
    .logoIG{
        height: $iconos-redes;
    }
    .logoWts{
        height: $iconos-redes;
    }
    .textoPie{
        color: #fff;
        font-size: map-get($tamañoTexto, tamañoP);
    }
}



