
*{
    padding: 0;
    margin: 0;
}

.carousel-inner{
    max-height: 80vh;
    overflow: hidden;
    border-radius: $bordes-redondeados;
}

.contenedorArticulo {
    .iconoRepartidor{
        height: $iconos;
    }
    .iconoCalendario{
        height: $iconos;
    }
    .iconoRegalo{
        height: $iconos;
    }
}


