@media only screen and (max-width:2561px){
    ul{
        font-size: 2rem;
    }
}


@media only screen and (max-width:1441px){
    ul{
        font-size: 2rem;
    }
}


@media only screen and (max-width:1025px){
    ul{
        font-size: 1.2rem;
    }
    .parrafo{
        font-size: 0.7rem;
    }
    .logoFace, .logoIG, .logoWts {
        height: 7vh;
    }
}

@media only screen and (max-width:769px){
    header{
        .contenedorCabecera{
            .contenedorImagen{
                @include flexbox_justify(flex-end,wrap,row);
            }
            .filaHeader{
                @include flexbox_justify(space-between,wrap,row);
                flex-direction: row-reverse;
                .columnaNavegador{
                    .navegadorHamburguesa{
                        @include flexbox_justify (space-between,wrap,row);
                        a{
                            .carritoCompra{
                                height: 7vh;
                            }
                        }
                    }
                }
            }
            .contenedorNav{
                display: none;
            }
        }
    }

    
    .textoPie{
        text-align: center;
    }
    .logoFace, .logoIG, .logoWts {
        height: 10vh;
    }

    .picadaIndex{
        padding-bottom: 20px;
    }


    
        /* NOSOTROS */
        .fondoNosotrosuno{
            margin-bottom: 10px;
        }
        .fondoNosotrosdos{
            margin-bottom: 10px;
        }
        .fondoNosotrostres{
            margin-bottom: 10px;
        }
        .fondoNosotroscuatro{
            margin-bottom: 10px;
        }
    
        /* TABLAS */
        .contenedorContenido{
            .verContenido{
                display: block;
            }
        }
        .articuloC2P3C:hover .contenidoC2P3C {
            height: 0%;
        }
        .articuloC4P6C:hover .contenidoC4P6C {
            height: 0%;
        }
        .articuloC8P10C:hover .contenidoC8P10C {
            height: 0%;
        }
        .articuloC2P3P:hover .contenidoC2P3P {
            height: 0%;
        }
        .articuloC4P6P:hover .contenidoC4P6P {
            height: 0%;
        }
        .articuloC8P10P:hover .contenidoC8P10P {
            height: 0%;
        }
        /* FIN TABLAS */

        %animacionNosotros{
            transform: scale(0.9);
        }
        
    footer{
        .seccionIconos{
            @include flexbox_justify (center,wrap,row);
        }
        .seccionPie 
            .filaTextopie {
                .filaGps{
                    .articuloGps{
                            .logoGps {
                                height: 15vh;
                        } 
                    } 
                }
        }
    }
}

@media all and (max-width:426px){
    
    .navegadorHamburguesa{
        a{
            img{
                height: 5vh;
            }
        }
    }
    
header{
    .contenedorCabecera{
        .filaHeader{
            .logoCabecera{
                height: 10vh;
            }
        }
    }
}

    .articuloProductos{
        .imgProductos{
            height: 300px;
            object-fit: cover;
        }
    }

    .textoCarrito{
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
        padding:10% 0;
        .seccionImagenes{
            transform: rotate(-90deg);
        }
        .seccionCantidades{
            margin: 10% 0;
            font-size: 0.9rem;
            .cantidadPedido{
                font-size: 1.5rem;
            }
            .precioFinal{
                font-size: 1.2rem;
            }
        }
    }
    #textoTotal{
        @include flexbox_justify(center,wrap,row);
        align-content: center;
        p{
            margin: 2%;
            padding: 2%;
            background-color: #000;
            color: #fff;
            font-size: 1.2rem;
        }
    }
}
