
.contenedorCabecera{
    margin-top: 20px;
    border-bottom: 2px #000 solid;
    border-radius: 70px;

    .contenedorNav{

        border-radius: $bordes-redondeados;
    
        ul{
            font-size: 2rem;
            height: auto;
            list-style: none;
    
            display: flex;
            justify-content:space-between;
            align-content: stretch;
        }
    
        a{
            text-decoration: none;
            color: #000;
        }
    
    }
    
    .logoCabecera{
        border-radius: 50px;
        height: 10vh;
        box-shadow: 0px -1px 10px 5px map-get($coloresMaps, sombras );;
    
    }
}


/*  

*{
    font-family: Arial;
  }
  
  ul{
    display: none;
  }
  
  input:checked  ~ ul{
    display:block;
  }
  
  input {
    display: none;

  
  label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  


  /* Estilo del boton cuando se pasa el mouse por encima*/
/*   label:hover{
    background: grey;
  } */


    
  /* Estilo del boton cuando el menú está expandido*/
/*   input:checked ~ label {
    background: lightgrey; 
  } */
/*   
  ul{
    margin-top:0;
    padding: 0;
    width: 200px;
  
  }
  
  
  li {
    display: block;
    background: lightgrey;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
  } */
  
  /*Estilo cuando el mouse pasa encima de cada link del menu*/
/*   li:hover {
    filter: brightness(110%);
  } */

/* 
  <nav>
  <input type="checkbox" id="menu">
  <label for="menu"> ☰ </label>
  <ul>
    <li>Link 1</li>
    <li>Link 2</li>
    <li>Link 3</li>
    <li>Link 4</li>
  </ul>
</nav> 
  }*/




