.contenedorParrafo{
    @include flexbox (space-evenly)
}
    .parrafoNosotros{
        margin: 3% 0;
        padding: 2% 0;
        @extend %parrafos;
        
        .primerParrafo{
            margin: 10px;
            font-size: map-get($tamañoTexto, tamañoP);

        }
        .segundoParrafo{
            margin: 10px;
            font-size: map-get($tamañoTexto, tamañoP);
            
        }
    }



.articuloFoto{
    .fotoEdgar{
    height: $fotoAltura;
    box-shadow: 0px -1px 24px 0px map-get($coloresMaps, sombras );
    }
    .fotoBaso{
    height: $fotoAltura;
    box-shadow: 0px -1px 24px 0px map-get($coloresMaps, sombras );
    }
    .fotoJu{
    height: $fotoAltura;
    box-shadow: 0px -1px 24px 0px map-get($coloresMaps, sombras );
    }
    .fotoDeby{
    height: $fotoAltura;
    box-shadow: 0px -1px 24px 0px map-get($coloresMaps, sombras );
    }
}

.fondoNosotrosuno{
    img{
        filter:$sautarcion;
    }
}

.fondoNosotrosdos{
    img{
        filter:$sautarcion;
    }
}