/*PRODUCTOS*/

.imgProductos{
    overflow: hidden;
    border-radius: 20px;
}

.introProductos{
    @extend %parrafos;
    .textoProductos{
        margin: 10px;
        font-size: map-get($tamañoTexto, tamañoP );
    }
}

.listaProducto{
    .itemProducto {
        list-style: none;
    }
    li{
        font-size: 1.2rem;
    }
} 




