
.contenedorImgTablas{
    @include flexbox_justify (center,wrap,column);
    .imagenTablas{
        @extend %imgResponsive;
        border-radius: $bordes-redondeados;
        filter:$sautarcion;
    }
}

.articuloTabla2C{
    position: relative;
    .articuloC2P3C{
        @include articulosTablas (#000, white);
        filter:$sautarcion;
        .contenidoC2P3C{
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.9);
            overflow: hidden;
            width: 100%;
            height: 0;
            border-radius: $bordes-redondeados;
            transition: 1s ease;
            ul{
                list-style: none;
                padding:5px 0 0 15px;
                color: #ffff;
                text-align: start;
                font-size: map-get($tamañoTexto, tamañoLItablas);
            };
        }
    }
}
.articuloTabla4C{
    position: relative;
    .articuloC4P6C{
        @include articulosTablas (#000, white);
        filter:$sautarcion;
        .contenidoC4P6C{
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.9);
            overflow: hidden;
            width: 100%;
            height: 0;
            border-radius: $bordes-redondeados;
            transition: 1s ease;
            ul{
                list-style: none;
                padding:5px 0 0 15px;
                color: #ffff;
                text-align: start;
                font-size: map-get($tamañoTexto, tamañoLItablas);
            };
        }
    }
}


.articuloTabla8C{
    position: relative;
    .articuloC8P10C{
        @include articulosTablas (#000, white);
        filter:$sautarcion;
        .contenidoC8P10C{
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.9);
            overflow: hidden;
            width: 100%;
            height: 0;
            border-radius: $bordes-redondeados;
            transition: 1s ease;
            ul{
                list-style: none;
                padding:5px 0 0 15px;
                color: #ffff;
                text-align: start;
                font-size: map-get($tamañoTexto, tamañoLItablas);
            };
        }
    }
}


.articuloTabla2P{
    position: relative;
    .articuloC2P3P{
        @include articulosTablas (#000, white);
        filter:$sautarcion;
        .contenidoC2P3P{
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.9);
            overflow: hidden;
            width: 100%;
            height: 0;
            border-radius: $bordes-redondeados;
            transition: 1s ease;
            ul{
                list-style: none;
                padding:5px 0 0 15px;
                color: #ffff;
                text-align: start;
                font-size: map-get($tamañoTexto, tamañoLItablas);
            }
        }
    }
}


.articuloTabla4P{
    position: relative;
    .articuloC4P6P{
        @include articulosTablas (#000, white);
        filter:$sautarcion;
        .contenidoC4P6P{
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.9);
            overflow: hidden;
            width: 100%;
            height: 0;
            border-radius: $bordes-redondeados;
            transition: 1s ease;
            ul{
                list-style: none;
                padding:5px 0 0 15px;
                color: #ffff;
                text-align: start;
                font-size: map-get($tamañoTexto, tamañoLItablas);
            };
        }
    }
}



.articuloTabla8P{
    position: relative;
    .articuloC8P10P{
        @include articulosTablas (#000, white);
        filter:$sautarcion;
        .contenidoC8P10P{
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.9);
            overflow: hidden;
            width: 100%;
            height: 0;
            border-radius: $bordes-redondeados;
            transition: 1s ease;
            ul{
                list-style: none;
                padding:5px 0 0 15px;
                color: #ffff;
                text-align: start;
                font-size: map-get($tamañoTexto, tamañoLItablas);
            }
        }
    }
}

