.volver{
    text-decoration: none;
    color: #000;
}

.contenedorContenido{
    @include flexbox_justify (center,wrap,row);
    .verContenido{
        display: none;
        text-decoration: none;
        background-color: rgba(255, 0, 0, 0.57);
        color: #fff;
        width: 50%;
        border-radius: $bordes-redondeados;
    }
}

.contenedorImgTablas{
    @include flexbox_justify (center,wrap,column);
    .imagenTablas{
        @extend %imgResponsive;
        border-radius: $bordes-redondeados;
        filter:$sautarcion;
    }
}

.modalC2P3C{
    @extend %modalTablas;
    .modalContenidoC2P3C{
        h2{
            margin-top: 5px;
        }
        @extend %modalContenido;
    }
}

.modalC4P6C{
    @extend %modalTablas;
    .modalContenidoC4P6C{
        h2{
            margin-top: 5px;
        }
        @extend %modalContenido;
    }
}

.modalC8P10C{
    @extend %modalTablas;
    .modalContenidoC8P10C{
        h2{
            margin-top: 5px;
        }
        @extend %modalContenido;
    }
}

.modalC2P3P{
    @extend %modalTablas;
    .modalContenidoC2P3P{
        h2{
            margin-top: 5px;
        }
        @extend %modalContenido;
    }
}

.modalC4P6P{
    @extend %modalTablas;
    .modalContenidoC4P6P{
        h2{
            margin-top: 5px;
        }
        @extend %modalContenido;
    }
}

.modalC8P10P{
    @extend %modalTablas;
    .modalContenidoC8P10P{
        h2{
            margin-top: 5px;
        }
        @extend %modalContenido;
    }
}

.articuloTabla2C{
    position: relative;
    .articuloC2P3C{
        @include articulosTablas (#000, white);
        @include flexbox_justify (center,wrap,row);
        filter:$sautarcion;
        .contenidoC2P3C{
            @include flexbox_align (center,wrap,row);
            @extend %animacionCoverTablas;
        }
    }
}

.articuloTabla4C{
    position: relative;
    .articuloC4P6C{
        @include articulosTablas (#000, white);
        @include flexbox_justify (center,wrap,row);
        filter:$sautarcion;
        .contenidoC4P6C{
            @include flexbox_align (center,wrap,row);
            @extend %animacionCoverTablas;
        }
    }
}

.articuloTabla8C{
    position: relative;
    .articuloC8P10C{
        @include articulosTablas (#000, white);
        @include flexbox_justify (center,wrap,row);
        filter:$sautarcion;
        .contenidoC8P10C{
            @include flexbox_align (center,wrap,row);
            @extend %animacionCoverTablas;
        }
    }
}

.articuloTabla2P{
    position: relative;
    .articuloC2P3P{
        @include articulosTablas (#000, white);
        @include flexbox_justify (center,wrap,row);
        filter:$sautarcion;
        .contenidoC2P3P{
            @include flexbox_align (center,wrap,row);
            @extend %animacionCoverTablas;
        }
    }
}


.articuloTabla4P{
    position: relative;
    .articuloC4P6P{
        @include articulosTablas (#000, white);
        @include flexbox_justify (center,wrap,row);
        filter:$sautarcion;
        .contenidoC4P6P{
            @include flexbox_align (center,wrap,row);
            @extend %animacionCoverTablas;
        }
    }
}

.articuloTabla8P{
    position: relative;
    .articuloC8P10P{
        @include articulosTablas (#000, white);
        @include flexbox_justify (center,wrap,row);
        filter:$sautarcion;
        .contenidoC8P10P{
            @include flexbox_align (center,wrap,row);
            @extend %animacionCoverTablas;
        }
    }
}

.listaModal{
    border: 1px solid rgba(0, 0, 0, 0.57);
    border-radius: $bordes-redondeados;
    margin-bottom: 5px;
}

.listaQuesos{
    margin-top: 10px;
}
.tituloLista{
    @extend %tituloTablas;
    font-size:map-get($tamañoTexto, tamañoLItablas);
}

.grupoClasica{
    @include flexbox_justify (center,wrap,row);
}

.filaCarrito{
    top:85%;
    @include flexbox_justify (center,wrap,row);
    align-items: center;
    img{
        cursor: pointer;
        height: 10vh;
    }
    #cantidadPicadas{
        font-size: 2rem;
    }
}