.contenedorNav ul li:hover{
    border-bottom: 1px #000 solid;
} 


/* NOSOTROS */

.fondoNosotrosuno{
    &:hover .contenedorTexto{
        transform: scaley(0.9);
    }
}

.fondoNosotrosdos{
    &:hover .contenedorTexto{
        transform: scaley(0.9);
    }
}

.fondoNosotrostres{
    &:hover .contenedorTexto{
        transform: scaley(0.9);
    }
}

.fondoNosotroscuatro{
    &:hover .contenedorTexto{
        transform: scaley(0.9);
    }
}
/* TABLAS */
.articuloTabla:hover{
    box-shadow: 0px -1px 10px 5px #7d7d7d;
    border-radius: $bordes-redondeados;
}

.articuloC2P3C:hover .contenidoC2P3C {
    height: 100%;
}

.articuloC4P6C:hover .contenidoC4P6C {
    height: 100%;
}

.articuloC8P10C:hover .contenidoC8P10C {
    height: 100%;
}

.articuloC2P3P:hover .contenidoC2P3P {
    height: 100%;
}

.articuloC4P6P:hover .contenidoC4P6P {
    height: 100%;
}

.articuloC8P10P:hover .contenidoC8P10P {
    height: 100%;
}