@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
/* font-family: 'Dongle', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
/* font-family: 'Raleway', sans-serif; */


$fuentebody: 'Raleway', sans-serif;
$fotoAltura: 20vh;
$iconos: 15vh;
$bordes-redondeados: 20px;
$iconos-redes: 5vh;


$tama単oTexto:(
    tama単oH1: 5rem,
    tama単oH2: 3rem,
    tama単oP:  2rem,
);


$coloresMaps:(
    fondo-parrafos: #828282,
    color-texto-parrafo: #fff,
    borde-parrafo: #828282,
    sombras: #7d7d7d,
);

%parrafos{
    border: 1px solid map-get($coloresMaps,borde-parrafo);
    border-radius: 15px;
    text-align: center;
    background-color: map-get($coloresMaps,fondo-parrafos);
    color: #fff;
    box-shadow: 0px -1px 10px 5px map-get($coloresMaps,sombras);
}

@mixin articulosTablas ($color, $background){
    text-align: center;
    color: $color;
    background-color: $background;
    border: 1px #000 solid;
    border-radius: 20px;
    padding: 2px;
}

%imgResponsive {
    max-width: 100%;
    height: auto;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: $fuentebody;
}