.contenedorParrafo{
    @include flexbox_justify (space-evenly, wrap, row);
}
    .parrafoNosotros{
        margin: 3% 0;
        padding: 2% 0;
        @extend %parrafos;
        
        .primerParrafo{
            margin: 10px;
            font-size: map-get($tamañoTexto, tamañoP);

        }
        .segundoParrafo{
            margin: 10px;
            font-size: map-get($tamañoTexto, tamañoH2);
            
        }
    }

.ContenedorImagenesNosotros{
    .fondoNosotrosuno{
        @include flexbox_justify (center,wrap,row);
        position: relative;
        img{
            filter:$sautarcion;
            height: auto;
            width: 90%;
            border-radius: $bordes-redondeados;
        }
        .contenedorTexto{
            @extend %animacionNosotros;
        }
    }
    
    .fondoNosotrosdos{
        @include flexbox_justify (center,wrap,row);
        position: relative;
        img{
            height: auto;
            width: 90%;
            border-radius: $bordes-redondeados;
        }
        .contenedorTexto{
            @extend %animacionNosotros;
        }
    }

    .fondoNosotrostres{
        @include flexbox_justify (center,wrap,row);
        position: relative;
        img{
            filter:$sautarcion;
            height: auto;
            width:90%;
            border-radius: $bordes-redondeados;
        }
        .contenedorTexto{
            @extend %animacionNosotros;
        }
    }

    .fondoNosotroscuatro{
        @include flexbox_justify (center,wrap,row);
        position: relative;
        img{
            filter:$sautarcion;
            height: auto;
            width:90%;
            border-radius: $bordes-redondeados;
        }
        .contenedorTexto{
            @extend %animacionNosotros;
        }
    }
}
