

.primerTitulo{
    margin: 10px 0;
    text-align: center;
    font-family: $fuentebody;
    font-size: map-get($tamañoTexto, tamañoH1);
}

.segundoTitulo{
    margin: 10px 0;
    text-align: center;
    font-family: $fuentebody;
    font-size: map-get($tamañoTexto, tamañoH2);
}

.carousel-inner{
    margin: 10px 0;
    max-height: 60vh;
    overflow: hidden;
    border-radius: $bordes-redondeados;
    img{
        filter:$sautarcion;
    }
}

.contenedorIconos{
    border-top: 1px #000 solid;
    border-bottom: 1px #000 solid;
    background-color: darkgray;
    margin: 5% 0;;
    padding: 0 10%;
    .contenedorArticulo {
        margin: 50px 0;
        @include flexbox_justify (center,wrap,row);
        .contenedorImagen{
            @include flexbox_justify(center,wrap,row);
        }
        .contenedorIconoTexto{
            @include flexbox_align (center,wrap,row);
            text-align: center;
        }
        .iconoRepartidor{
            height: $iconos;
        }
        .iconoCalendario{
            height: $iconos;
        }
        .iconoRegalo{
            height: $iconos;
        }
    }
}


.filaClasica{
    @include flexbox_justify (space-evenly,wrap,row);
    .picadaIndex{
        filter:$sautarcion;
    }
}

.filaPremium{
    margin-top: 15px;
    @include flexbox_justify (space-evenly,wrap,row);
    .picadaIndex{
        filter:$sautarcion;
    }
}

